.divSearvbar {
  display: flex;
  justify-content: flex-end; /* Alinear elementos a la derecha en pantalla completa */
  align-items: center;
  flex-direction: row; /* Diseño horizontal por defecto */
}

.input,
.buscar,
.name,
.todo {
  border-radius: 7px;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  background-color: rgb(45, 48, 67);
  transition: all 0.3s ease;
  margin: 5px;
}

.input {
  text-align: center; /* Centrar texto en la barra de búsqueda */
}

.name {
  font-size: 15px;
  border-radius: 20px;
}

.todo {
  cursor: pointer;
}

@media (max-width: 768px) {
  .divSearvbar {
    flex-direction: column; /* Cambia a disposición de columna en pantallas pequeñas */
    align-items: flex-start; /* Alinear elementos a la izquierda en columnas */
  }
}
