.card {
  width: 400px;
  border: solid 1px black;
  color: white;
  background-color: rgb(28, 30, 47);
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}
.cardImg img {
  width: 100%;
  height: 300px;
}
.x {
  position: absolute;
  right: 0;
  color: red;
  cursor: pointer;
}
