nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0f172a;
  color: white;
  position: sticky;

  top: 0;
}
.active {
  background-color: #1d4ed8;
}

.imgButton {
  width: 40px;
  height: 40px;
  border-radius: 7px;
  margin-left: 1em;
  font-size: 1rem;
  border: none;
  border-radius: 50%;
}
nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 0.5rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
}

.form {
  margin-right: 10em;
}
.home {
  margin-right: 10em;
}
nav ul li a:not(.active):hover {
  background-color: #172554;
}

nav .menu {
  display: none;
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
}

nav .menu span {
  height: 0.4rem;
  width: 100%;
  background-color: #fff;
  border-radius: 0.2rem;
}

@media (max-width: 768px) {
  nav .menu {
    display: flex;
  }
  ul {
    padding: 0px;
  }

  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.25rem;
  }
  nav ul.open {
    display: flex;
  }

  nav {
    flex-direction: column;
    align-items: flex-start;
  }
  nav ul li {
    text-align: center;
  }

  nav ul {
    flex-direction: column;
    align-items: flex-start;
  }
  nav ul li a {
    margin: 0.2rem 0.5rem;
  }
}
